<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} &bull; InfiniteVoid Guild</title>
	<meta charset="utf-8">

	<meta property="og:site_name" content="InfiniteVoid">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:image" content="/assets/img/infinitevoid.png">

	<link rel="icon" type="image/png" href="/assets/img/infinitevoid-square.png">
</head>
<body>
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

	<div class="content">
		<div class="page">
			{{ page.content }}
		</div>
	</div>

	<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
	<script type="text/javascript" src="/assets/js/base.js"></script>
</body>
</html>